body { background: #eee }

.carte1{
  margin-top: 10px;
  justify-content: center;
}

.carte2 {
	margin-top: 50px;
  justify-content: center;
}

.fixed-bottom{
  background-color: whitesmoke;
}

/*.brecherche{
  margin-bottom: 40px;
}*/