{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block activateAccueil %}"nav-item active"{% endblock %}

{% block content %}

<h2 class="text-center py-4">Coup de cœur</h2>

<!-- Gestion des erreurs -->
{% if !isError %}

    <!-- Carte des top chocolats -->
    <div class="container-fluid">
        <div class="carte1">
            <div class="card-deck">
                {% for chocolat in chocolats %}
                    {% include "./templates/chocolat.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}

    <div class="alert alert-danger" role="alert">
        <b>Une erreur est survenue !</b>
        <br />
        Code erreur : {{ error.code }}
    </div>

{% endif %}

{% endblock %}