{% extends 'layout.html' %}

{% block title %}My Page2{% endblock %}

{% block activateContact %}"nav-item active"{% endblock %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post" id="formContact">
                    <h2 class="text py-3">Contactez nous</h2>

                    <!--Nom-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Nom</label>
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Votre nom" class="form-control"
                                required>
                        </div>
                    </div>

                    <!--Email-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">E-mail</label>
                        <div class="col-md-9">
                            <input id="email" name="_replyto" type="text" placeholder="Votre email" class="form-control"
                                required>
                        </div>
                    </div>

                    <!--Message-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="message">Message</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message"
                                placeholder="Taper votre message ici..." rows="5"></textarea>
                        </div>
                    </div>

                    <input type="text" name="_gotcha" style="display:none" />
                    <input type="hidden" name="_language" value="fr" />

                    <!--Bouton-->
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Envoyer</button>
                        </div>
                    </div>
                </form>

                <!-- Scripts pour sumettre l'envoie de formulaire au service formspree -->
                <script>
                    var contactform = document.getElementById('formContact');
                    contactform.setAttribute('action', 'https://formspree.io/xavier.brassoud@gmail.com');
                </script>
            </div>
        </div>
    </div>
</div>


{% endblock %}