<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Charlie le chocolatier{% endblock %}</title>

    {% block head %}
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/accueil.css">
    {% endblock %}
</head>

<body>
    <!--Bare de nav en haut avec menu-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- Titre -->
        <p class="h1 pb-2"><a class="navbar-brand" href="accueil">Charlie le Chocolatier</a></p>

        <!-- Bouton Hamburger menu pour petits écrans -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class={% block activateAccueil %}"nav-item"{% endblock %}>
                    <a class="nav-link" href="accueil">Accueil</a>
                </li>
                <li class={% block activateProduits %}"nav-item"{% endblock %}>
                    <a class="nav-link" href="produits">Produits</a>
                </li>
                <li class={% block activatePacks %}"nav-item"{% endblock %}>
                    <a class="nav-link" href="packs">Formules/Packs</a>
                </li>
                <li class={% block activateContact %}"nav-item"{% endblock %}>
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class={% block activatePropos %}"nav-item"{% endblock %}>
                    <a class="nav-link" href="propos">A propos</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!--Bas de page-->
    <footer class="footer">
        <div class="fixed-bottom">
            <small class="pl-3 pt-3">Auteurs : AIMÉ, BRASSOUD - Mars 2019</small>
        </div>
    </footer>


    <script src="/js/jquery.slim.js"></script>
    <script type="module" src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</body>

</html>