{% extends 'layout.html' %}

{% block title %}Nos assortissements{% endblock %}

{% block activatePacks %}"nav-item active"{% endblock %}

{% block content %}

<!-- Gestion des erreurs -->
{% if !isError %}

    <!--Cartes Packs-->
    <div class="container-fluid">
        <div class="carte1">
            <div class="card-deck">
                {% for pack in packs %}
                    {% include "./templates/pack.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}

    <div class="alert alert-danger" role="alert">
        <b>Une erreur est survenue !</b>
        <br />
        Code erreur : {{ error.code }}
    </div>
    
{% endif %}

{% endblock %}