{% extends 'layout.html' %}

{% block title %}Nos produits{% endblock %}

{% block activateProduits %}"nav-item active"{% endblock %}

{% block content %}


<!--Barre de recherche
    <div class="brecherche">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search topics or keywords">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
-->

<!-- Gestion des erreurs -->
{% if !isError %}
    <!--Barre de changement de page-->
    {% include "./templates/navitems.html" %}


    <!--Carte des produits-->
    <div class="container-fluid">
        <div class="carte1">
            <div class="row">
                {% for chocolat in chocosPage %}
                    {% include "./templates/chocolat.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!--Barre de changement de page-->
    {% include "./templates/navitems.html" %}

{% else %}

  <div class="alert alert-danger" role="alert">
    <b>Une erreur est survenue !</b>
    <br />
    Code erreur : {{ error.code }}
  </div>
  
{% endif %}

{% endblock %}