{% extends 'layout.html' %}

{% block title %}A propos{% endblock %}

{% block activatePropos %}"nav-item active"{% endblock %}

{% block content %}

<div class="container">
    <h2 class="py-4">Bienvenue sur le site "Charlie le Chocolatier".</h2>
    <p>
        Ce site a été fait par Xavier Brassoud et Adrian Aimé dans le cadre d'un mini projet de Web.
        <br/>Nous sommes étudiants en L3TRI.
        <br/><br/>Ce site est composé de plusieurs parties :
        <ul>
            <li><a href="/accueil">Accueil</a> : contient la base du site ainsi que les meilleurs chocolat propose</li>
            <li><a href="/produits">Les produits</a> : contient l'ensemble des produits proposé dans la boutique (30)</li>
            <li><a href="/packs">Les formules/packs</a> : contient tout les assortiments de chocolat disponible</li>
            <li><a href="/contact">Contact</a> : contient un formulaire permettant de contacter les créateurs du site</li>
            <li><a href="/contact">A propos</a> : contient la description du site et les dévelopeur web</li>
        </ul>
    </p>
</div>
{% endblock %}