<!-- Template carte chocolat -->
<div class="card border-primary mb-3 ml-3 mr-2" style="width: 15rem;">

    <img class="card-img-top" src="{{ chocolat.UrlImage }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ chocolat.Nom }}</h5>
        <p class="card-text">{{ chocolat.Description }}</p>
        <ul class="pl-3">
            {% for accessoire in chocolat.Accessoires %}
                <li>{{ accessoire }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="footer text-muted ml-3">
        {% for categorie in chocolat.Categories %}
            <i><a href="/produits?cat={{ categorie }}" class="card-link">#{{ categorie }} </a></i>
        {% endfor %}
    </div>

    <div class="card-footer">
        <p class="price mb-0">
            {% if chocolat.Reduction > 0 %}
                <span class="badge badge-info">-{{ chocolat.Reduction }}%</span>
                {{ chocolat.Prix - chocolat.Prix*(chocolat.Reduction/100) }}€<small class="text-muted">/unitée
                    <strike>({{ chocolat.Prix }}€/unitée)</strike></small>
            {% else %}
                {{ chocolat.Prix }}€<small class="text-muted">/unitée</small>
            {% endif %}
        </p>
    </div>
    
</div>