<!--Barre de changement de page-->
<nav class="my-5">
    <ul class="pagination justify-content-center">

        {% if pageActuel > 1 %}
            <li class="page-item">
                <a class="page-link" href="produits?page={{ pageActuel - 1 }}{{ catParams }}">Précédent</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Précédent</span>
            </li>
        {% endif %}

        {% for p in pages %}
            {% if p == pageActuel %}
                <li class="page-item active">
                    <span class="page-link">
                            {{ p }}
                    </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="produits?page={{ p }}{{ catParams }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pageActuel < maxPage %}
            <li class="page-item">
                <a class="page-link" href="produits?page={{ pageActuel + 1 }}{{ catParams }}">Suivant</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Suivant</span>
            </li>
        {% endif %}

    </ul>
</nav>