<!-- Template carte pack -->
<div class="card border-primary mb-3" style="width: 18rem;">
    <img class="card-img-top" src="{{ pack.UrlImage }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ pack.Label }}</h5>
        <p class="card-text">{{ pack.Description }}</p>
        <ul>
            {% for chocolat in pack.Chocolats %}
                <li><small>{{ chocolat.quantite }} x {{ chocolat.nom }}</small></li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer">
        <p class="price mb-0">
            {{ pack.Prix }}€<small class="text-muted">/unitée</small>
        </p>
    </div>
</div>